.App {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
}

.App-main {
  flex: 1 1;
  display: flex;
}
